* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
    border-style: none;
}

.container {
    margin: 0 auto;
    text-align: center;
    margin-top: 15rem;
    width: 25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #C4EEF2;
    border-radius: .5rem;
}
.container > h1 {
    color: #5E88BF;
}
.container > hr {
    width: 20rem;
    margin: 1rem auto 1rem auto;
}
.textValue {
    background-color: #537BC3;
    text-align: center;
    width: 15rem;
    height: 2rem;
    font-size: 1.3rem;
    margin: 0.3rem;
    border-radius: .2rem;
}
.textResult {
    background-color: #537BC3;
    text-align: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.3rem;
    margin-top: 0.3rem;
    border-radius: .2rem;
}
.buttonDiv {
    margin: 0 auto;
    width: 15rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}
.buttonClass {
    background-color: #537BC3;   
    width: 2.7rem;
    height: 2.7rem;
    transition-duration: all 0.3s;
    font-size: 1.3rem;
    border-radius: .2rem;
}
.buttonClass:hover {
    background-color: #73B2D9;
    transform: scale(1.03);
}
.buttonClass:focus {
    background-color: #8BCAD9;
    transform: scale(0.9);
    transition-duration: 0.3s;
}