* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
    padding-top: 5rem;
    width: 25rem;
}
.container > hr {
    width: 25rem;
    margin: 1rem 0 1rem 0;
}
.textValue {
    background-color: azure;
    border: 1px solid black;
    text-align: center;
    width: 15rem;
    height: 2rem;
    font-size: 1.3rem;
    margin: 0.3rem;
}
.textResult {
    background-color: rgb(200, 200, 200);
    color: white;
    border: 1px solid rgb(93, 93, 93);
    text-align: center;
    width: 15rem;
    height: 3rem;
    font-size: 1.3rem;
    margin-top: 0.3rem;
}
.buttonDiv {
    margin: 0 auto;
    width: 15rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-between;
}
.buttonClass {
    background-color: azure;
    border: 1px solid black;
    width: 2.7rem;
    height: 2.7rem;
    transition: all 0.3s;
    font-size: 1.3rem;;
}
.buttonClass:hover {
    background-color: aquamarine;
    transform: scale(1.03)
}
.buttonClass:focus {
    background-color: white;
    transform: scale(0.9);
}